.main-content {
  padding-bottom: 50px;
}

footer.footer-min {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 3px;
  background-color: #f5f5f5;
  border-top: 1px solid #eeeeee;
  text-align: center;
}

.archives .post-meta .list-inline li {
  font-size: 12pt;
}

.post-meta .list-inline li:not(:last-child):after {
 margin-left: 10px;
 content: "\2022";
}

.post-meta .list-inline.social-sharing li:after {
  content: "";
  margin-left: 0;
}

.post-meta .mdl2 {
  vertical-align: middle;
}